*{
    margin: 0 auto;
}
.tabela{
    width: 972px;
    height: 1000px;
}
.elementos{
    width: 50px;
    height: 50px;
    border: 1px solid #000;
    margin: 1px;
    float: left;
    border-radius: 2px;
}
.esconder{
    border: 0;
    margin: 0 2px 0 2px;
}
.royalblue{
    border-color:royalblue;
}
.roxo{
    border-color: blueviolet;
}
.verde{
    border-color:chartreuse;
}
.laranja{
    border-color: chocolate;
}
.azul{
    border-color: cornflowerblue;
}
.marrom{
    border-color: olive;
}
